*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #D5CAD6;
    color: #6B5E62;
    font-family: 'Philosopher', sans-serif;
}
.header{
    margin: 20px;
    text-align: center; 
}
nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 5px;
}
a {
    text-decoration: none;
    color: #6B5E62;
}
a:hover{
    color: #EFEFF0;
}
.homepage {
    text-align: center;
    margin: 35px;
    border-radius: 5px;
    padding: 10px;
}
.hmimg {
    margin-bottom: 10px;
    max-height: 65vh;
}
.wrapper{
    width: 80%;
    margin-bottom: 20px;
}
button {
    background-color: #EFEFF0;
    border-radius: 5px;
    margin-bottom: 83px;
}
.img{
    border: 14px groove #22333B;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100vh;
}
.image-text {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-left: 20px;
    margin-bottom: 5px;
    width: 100%;
}
/* .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #6B5E62;
    color: #EFEFF0;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transition: 2s;
}

.img:hover .tooltiptext {
    visibility: visible;
    opacity: .7;
} */
.slider{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 15px;
}
.left {
    background-image: url(./img/Arrow-Left-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.right {
    background-image: url(./img/Arrow-Right-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
ul a:hover{
    color: #D5CAD6;
}
.loading{
    text-align: center;
}
.loading-head{
    font-size: 2.5em;
    text-align: center;
    padding: 15px;
}
.loading-quote{
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
}
.footer{
    border-top: 2px solid #6B5E62;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EFEFF0;
}